<div class="container" style="margin-left:190px;margin-top: 20px">
    <div class="row">
        <div class="col-lg-3">
            <a href="#!/home">
                <img src="/onlineshopping_logo.png" alt=""/>
            </a>
        </div>
        <div class="form-group col-lg-4">
            <div class="input-group" style="margin-top:80px;">
                <input type="text" name="search_home" class="form-control" placeholder="Search by Keyword/Product/Brand" size="40" />
                <div class="input-group-addon" >
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>
        </div>
        <div>
            
            Hi!  Please <a href="#!/login" style="color:maroon;" data-toggle="tooltip" title="Log in">log in</a> or 
            <a href="#!/register" style="color: maroon; " >register</a>
            <div class="dropdown"><div class="bt" id="dropbtn">MY PNP<span class="glyphicon glyphicon-triangle-bottom" style="width:2px;"></span></div>
                <div class="dropdown-content">
                    <a href="#/additems">My Lists</a>
                    <a href="#/AdminLogin">My Trolley</a>
                    <a href="#">Current Orders</a>
                    <a href="#">Previous Purchases</a>
                    <a href="#">Personal Details</a>
                    <a href="#">Delivery Details</a>
                    <a href="#/listitems">FAQs</a>
                </div>
            </div>
        </div> 
    </div>
            <div class="row" >
               <div class="topDrop">
                   <ul class="nav nav-tabs" style="margin-top:-9px;margin-left:-15px;" id="list-home">
                        <li>
                            <a class="homeNav" href="#!/home.html">
                                <img src="navImages/NAVhome.png" alt="Navhome Image" style="height:170px;width:50px;"/>		
                            </a>
                        </li>
                        <li>
                            <a class="mainNav" href="Home.html">
                                <img src="navImages/NAVpromotions.png" alt="Navpromotions Image" style="height:170px;width:50px;"/>		
                            </a>
                        </li>
                        <li>
                            <a class="mainNav" href="Home.html">
                                <img src="navImages/NAVsmartshopper.png" alt="Navsmartshopper Image" style="height:170px;width:50px;"/>		
                            </a>
                        </li>
                        <li>
                            <a class="mainNav" href="Home.html">
                                <img src="navImages/NAVrecipes.png" alt="Navrecipes Image" style="height:170px;width:50px;"/>		
                            </a>
                        </li>
                        <li>
                            <a class="mainNav" href="Home.html">
                                <img src="navImages/NAVcompetitions.png" alt="Navcompetitions Image" style="height:170px;width:50px;"/>		
                            </a>
                        </li>
                        <li>
                            <a class="mainNav" href="Home.html">
				<img src="navImages/NAVevents.png" alt="Navevents Image" style="height:170px;width:50px;"/>		
                            </a>
			</li>	
			<li>
                            <a class="mainNav" href="Home.html">
				<img src="navImages/NAVclothing.png" alt="Navclothing Image" style="height:170px;width:50px;"/>		
                            </a>
			</li>
                        <li>
                            <a class="mainNav" href="Home.html">
				<img src="navImages/NAVstorelocator.png" alt="Navclothing Image" style="height:170px;width:50px;"/>		
                            </a>
			</li>
                         <li>
                            <a class="mainNav" href="Home.html">
				<img src="navImages/NAVvitality.png" alt="Navclothing Image" style="height:170px;width:50px;"/>		
                            </a>
			</li>
                        <li>
                            <a class="mainNav" href="Home.html">
				<img src="navImages/NAVcatalogues.png" alt="Navclothing Image" style="height:170px;width:50px;"/>		
                            </a>
			</li>
                   </ul>
               </div>
            </div>
    </div>
    <div class="row">
        <div class="panel" style="margin-left:210px;margin-top:160px;">
            <div class="col-md-1">
                <ul class="list-inline" id="list-inline">
                     <div class="dropdown1">
                         <div id="droptext">GROCERIES</div>
                            <div class="row">
                                <div id="dropdown1-content">
                                    <div style="font-family:cursive;font-size:16px;color:#B8094D;margin-top:15px;margin-left:20px;">Bakery</div>
                                </div>	
                            </div>
                     </div>
                </ul>
            </div>
        </div>
    </div>

<div class="container" style="margin-left:210px;">
    <div class="row">
        <div class="col">
            <div id="first-slider">
                <div id="corousel" class="carousel slide carousel-fade">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carouse1" data-slide-to="1"></li>
                        <li data-target="#carouse1" data-slide-to="2"></li>
                        <li data-target="#carousel" data-slide-to="3"></li>
                        <li data-target="#carousel" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">						
                            <img src="slideImages/Lamb-Deal-Banner.jpg"/>
                        </div>
                         <div class="item ">						
                             <img src="slideImages/Birthday_4_OLS_HP_Banner_01.jpg" alt=""/>
                            
                        </div>
                        
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<footer style="margin-left:180px;">
    <div class="jumbotron" style="height:550px;width:1200px;">
	<div class="col-lg-2" id="footer-links" style="margin-left:20px;">
            <h4 style="color:#004579;">QUICKLINKS</h4>
            <ul id="footer-list">
                <li><a href="#">Find store and opening hours</a></li>
                <li><a href="#">Online shopping</a></li>
                <li><a href="#">Catalogues</a></li>
                <li><a href="#">Smart Shopper</a></li>
                <li><a href="#">Specials</a></li>
                <li><a href="#">Online Security</a></li>
            </ul>
            <h5 style="font-weight:bolder;margin-top:42px;">NEW PNP MOBILE APP!</h5>
		<a href=""><img src="slideImages/footmobile_ios.png" alt="Not Found"/></a>
		<a href=""><img src="slideImages/footmobile_play.png" alt="Not Found"/></a>
        </div>
          <div class="col-lg-2">
			<h4  style="color:#004579;">ABOUT PICK N PAY</h4>
		<ul id="footer-list" style="list-style:none;margin-left:-40px;">
			<li><a href="#">Company Profile</a></li>
			<li><a href="#">Awards</a></li>
			<li><a href="#">Press</a></li>
			<li><a href="#">Investor Relations</a></li>
			<li><a href="#">Careers</a></li>
			
		</ul>
		<h5 style="margin-top:55px;font-weight:bolder;">OUR AWARDS</h5>
		     <a href=""><img src="slideImages/footmobile_retailer.jpg"/></a>
	  </div>
        
           <div class="col-lg-3" id="footer-links">
			<h4 style="color:#004579;">CORPORATE SOCIAL RESPONSIBILTY</h4>
		<ul id="footer-list" style="list-style:none;margin-left:-40px;">
			<li><a href="#">What Pick n Pay is doing</a></li>
			<li><a href="#">What you can do</a></li>
			<li><a href="#">Sustainability Reports</a></li>
			<li><a href="#">Ackerman Pick n Pay Foundation</a></li>
			<li><a href="#">Small Business Incubator</a></li>
			<li><a href="#">Funding Guidelines</a></li>
		</ul>
	  </div>
          <div class="col-lg-2">
		<h4 style="color:#004579;margin-left:0px;">OTHER SITES</h4>
		<ul id="footer-list" style="list-style:none;margin-left:-40px;">
                    <li><a href="#">Pick n Pay Brand Match</a></li>
                    <li><a href="#">Pick n Pay Brand Mobi</a></li>
                    <li><a href="#">Pick n Pay Brand Mobile Money</a></li>
                    <li><a href="#">Online Shopping</a></li>
                    <li><a href="#">Pick n Pay Entertaining</a></li>
                    <li><a href="#">Pick n Pay Investor Relations</a></li>
                    <li><a href="#">Pick n Pay Travel</a></li>
                    <li><a href="#">Pick n Pay Tickets</a></li>
                    <li><a href="#">Boxer Superstores</a></li>
                    <li><a href="#">Goodness</a></li>
                    <li><a href="#">Pick n Pay School Club</a></li>
                    <li><a href="#">Pick n Pay Corporate</a></li>
                </ul>
	  </div>
         <div class="col-lg-2">
			<h4 style="color:#004579;">CONTACT US ONLINE</h4>
		<a href=""><img src="slideImages/footblockEnquiries.png" alt="Image Not Found"/></a>
			<h5 style="margin-top:15px;">SHOP ENQUIRIES</h5>
		<a href=""><img src="slideImages/footblockOnlineSupport.png" alt="Image Not Found"/></a>
	  </div>
    </div>
</footer>